:root {
  --dark-blue: #2b3574;
  --light-pink: #faced3;
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PDU-regular";
  src: url("../fonts/PDU-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

body {
  font-family: "Arial", monospace;
  margin: 0;
  overflow-x: hidden;
  cursor: url("https://s3.ap-southeast-2.amazonaws.com/codelikeagirl.org/fonts/cursor.png"),
    auto;
}

a {
  cursor: url(https://s3-ap-southeast-2.amazonaws.com/codelikeagirl.org/fonts/click.png),
    auto;
}

header {
  padding-bottom: 128px;
}
header img#logo {
  position: fixed;
  left: 100px;
  top: 30px;
  transform: rotate(-5deg);
  width: 270px;
  z-index: 1;
}

#menu #overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: var(--dark-blue);
  color: white;
  transition: all 400ms ease;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#overlay li {
  display: flex;
  justify-content: center;
}

#overlay li:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#overlay li a {
  color: white;
  font-size: 8vh;
  text-decoration: none;
  display: flex;
  font-family: "PDU-regular";
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#menu #overlay.hide {
  top: 100%;
}

#menu #overlay.show {
  top: 0;
}

button#hamburger {
  background: none;
  border: 0;
  position: fixed;
  right: 3%;
  top: 2.5%;
  cursor: pointer;
  z-index: 101;
  width: 70px;
  height: 70px;
}

button#hamburger svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms var(--ease-out-expo);
  transform-origin: center center;
}

button#hamburger.close-icon #top-line {
  transform: rotate(45deg) translateY(9px);
}

button#hamburger.close-icon #middle-line {
  opacity: 0;
  transform: scale(0);
}

button#hamburger.close-icon #bottom-line {
  transform: rotate(-45deg) translateY(-9px);
}

button#hamburger path {
  stroke: var(--dark-blue);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
}

button#hamburger.close-icon path {
  stroke: var(--light-pink);
  transition: all 500ms var(--ease-out-expo);
}

#empower {
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
}

#empower .liner {
  display: flex;
  max-width: 1060px;
  box-sizing: border-box;
  gap: 6%;
}

#empower .left-text {
  max-width: 613px;
}

#empower h1 {
  text-align: center;
  color: var(--dark-blue);
  font-family: "PDU-regular", "Arial", sans-serif;
  padding: 20px;
  font-size: 48px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.line_break {
  border-color: var(--dark-blue);
  border-width: 2px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 50px;
}
p {
  text-align: center;
  font-size: 16px;
  color: var(--dark-blue);
  font-family: "Helvetica-Neue", "Arial", sans-serif;
}

#empower p {
  font-size: 18.4px;
}

#sprite-container {
  width: 320px;
  height: 512px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(20px 20px 0px #262262);
  z-index: 2;
  border: solid 2px #262262;
  left: 5%;
}

#sprite-container img {
  left: 0;
  top: 0;
  width: 1100%;
  height: 512px;
  animation: play 1.3s steps(11) infinite;
  animation-direction: alternate-reverse;

  position: absolute;
}

@keyframes play {
  100% {
    left: -1100%;
  }
}

.pink-bg {
  background-image: url(/assets/img/pink-square-background.png);
  background-color: #f9e8ea;
  background-size: 13%;
}
mark {
  background-color: pink;
}
em {
  color: red;
  display: inline-block;
  transform: rotate(10deg);
}
h1 .rotate1 {
  color: white;
  background-color: #ef3742;
  border: 2px solid #faced2;
  display: inline-block;
  transform: rotate(-10deg);
  padding: 0px 7px;
}
h1 .rotate2 {
  color: white;
  background-color: #ef3742;
  border: 2px solid #faced2;
  display: inline-block;
  transform: rotate(7deg);
  padding: 0px 7px;
}
h1 .underline {
  text-decoration: underline;
  text-decoration-color: #ef4b54;
}

#offer {
  position: relative;
}

#offer img {
  width: 135px;
  height: auto;
  position: absolute;
  top: -50px;
  left: 120px;
  animation: MoveUpDown 2s linear infinite;
}
#offer h2 {
  text-align: center;
  padding: 36px;
  font-size: 24px;
  font-family: "PDU-regular", "Arial", sans-serif;
  text-transform: uppercase;
  color: var(--dark-blue);
}

#offer div.boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 80px 100px 80px;
}

#offer div.box {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#offer div.box a {
  text-align: center;
  display: block;
  background-color: var(--dark-blue);
  color: white;
  text-decoration: none;
  font-size: 2.25rem;
  padding: 5px 25px;
  font-family: "PDU-regular", "Arial", sans-serif;
  text-transform: uppercase;
}

#offer div.box p {
  font-size: 16px;
  color: #323e87;
  font-family: "Helvetica-Neue", "Arial", sans-serif;
}

#featured img#featured-in {
  width: 100px;
  height: auto;
  position: absolute;
  top: -50px;
  right: 120px;
  animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#featured {
  background-color: #f2f2f2;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

#featured ul img {
  width: 100%;
  height: auto;
  filter: grayscale(1);
  opacity: 0.5;
  max-height: 36px;
  max-width: 88px;
}

#featured ul {
  list-style: none;
  display: flex;
  gap: 80px;
  justify-content: center;
  margin: 0;
}

#featured li {
  display: flex;
  align-items: center;
}

#featured ul#two {
  gap: 120px;
}

#event div.profilio-container {
  display: flex;
}

#event img {
  width: calc(100% / 3);
}

#partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#platinum-box {
  background-color: white;
  border: 2px solid;
  border-color: var(--dark-blue);
  width: 945px;
  height: 200px;
  transform: rotate(-1deg);
  margin: -35px 160px 20px 240px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
#platinum-box h2 {
  font-family: "PDU-regular", "Arial", sans-serif;
  text-transform: uppercase;
  color: var(--dark-blue);
  size: 55px;
  text-align: center;
}

.platinum-partners-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.platinum-logo img {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 130px;
}

#gold-box {
  background-color: white;
  border: 2px solid;
  border-color: #ffeda3;
  width: 1100px;
  height: 200px;
  transform: rotate(1deg);
  margin: 35px 165px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

#gold-box h3 {
  font-family: "PDU-regular", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffeda3;
  size: 40px;
  text-align: center;
}

.gold-partners-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.gold-logo img {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100px;
}

.semi-circle {
  width: 135px;
  height: auto;
  position: absolute;
  top: 190px;
  left: -30px;
}

#silver-box h4 {
  font-family: "PDU-regular", "Arial", sans-serif;
  text-transform: uppercase;
  color: rgba(38, 34, 98, 0.25);
  size: 30px;
  text-align: center;
}

.silver-partners-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  box-sizing: border-box;
  padding: 4vh 0;
}

#silver-box .logos {
  width: 1100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

.silver-partners-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

#silver-box .logo img {
  width: 80px;
  height: 80px;
  object-fit: scale-down;
}

#partner-with-us {
  height: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#partner-with-us h2 {
  text-align: center;
  font-size: 28px;
  font-family: "PDU-regular", "Arial", sans-serif;
  text-transform: uppercase;
  color: var(--dark-blue);
  margin: 0;
}

#find p {
  font-size: 16px;
  font-family: "PDU-regular", "Arial", sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 0px 25px;
}

button#find {
  background: var(--dark-blue);
  border-radius: 300px;
  margin: 10px;
}

.eye {
  width: 100px;
  height: auto;
  position: absolute;
  bottom: -18px;
  left: 83%;
  transform: rotate(10deg);
}

footer {
  background-color: var(--dark-blue);
  color: white;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

footer .container {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

footer .big-box {
  display: flex;
  justify-content: space-between;
}
footer .left-box {
  flex-direction: column;
  display: flex;
  color: white;
  max-width: 40%;
}

.left-box h4 {
  font-size: 16px;
  font-family: "PDU-regular", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding-bottom: 8px;
}

.left-box h5 {
  font-size: 11.2px;
  font-family: "Helvetica-Neue", "Arial", sans-serif;
  margin: 0;
  font-weight: normal;
  padding-bottom: 16px;
}

.social {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}

.social img {
  width: 32px;
}

.right-box {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.right-box h4 {
  font-family: "PDU-regular", "Arial", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin: 0;
}

.right-box span {
  color: #ef3742;
}

.right-box h5 {
  font-family: "Helvetica-Neue", "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
}

.signup-boxes {
  display: flex;
  padding-top: 25px;
  justify-content: flex-end;
  align-items: center;
}

.signup-boxes input {
  font-family: "Helvetica-Neue", "Arial", sans-serif;
  font-size: 16px;
  padding: 0px 10px;
  height: 41px;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  border: 1px solid #abb0b2;
}

.signup-boxes select {
  font-size: 16px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #abb0b2;
}

.signup-boxes button {
  display: flex;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.signup-boxes button img {
  width: 60px;
  height: 45px;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.copyright p {
  font-size: 12.8px;
  color: white;
  font-family: "Helvetica-Neue", "Arial", sans-serif;
  margin: 0;
}

.copyright a {
  font-size: 12.8px;
  color: white;
  font-family: "Helvetica-Neue", "Arial", sans-serif;
}

#modal {
  background-color: var(--dark-blue);
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: top 900ms cubic-bezier(0.16, 1, 0.3, 1);
}

#modal.open {
  top: 0;
}

#modal.closed {
  top: 100%;
}

.menu-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 76.6px;
  font-family: "PDU-regular", "Arial", sans-serif;
  color: #faced3;
  padding: 100px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

.menu-list ul li a {
  font-size: 76.6px;
  font-family: "PDU-regular", "Arial", sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 200px;
}

.social-list img {
  width: 32px;
  height: 32px;
}
/* #partners #gold .logo img {} */
/* #partners #platinum .logo img {} */
/*
h2 {
  color: black
}

#offers h2,
#products h2 {
  color: red;
}

h2.special {
  color: yellow;
}
*/
